<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/Site.css" rel="stylesheet" />
	<script type="text/javascript" src="../../Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<span class="navbar-brand">Dynamic Collections</span>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					@Html.Bootstrap().NavEntry("Displaying", "Index", "Home")
					@Html.Bootstrap().NavEntry("Sorting", "Index", "Sort")
					@Html.Bootstrap().NavEntry("Deleting", "Index", "Delete")
					@Html.Bootstrap().NavEntry("Adding", "Index", "Add")
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
	<div class="container">
		@RenderBody()
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script type="text/javascript">window.jQuery || document.write('<script src="../../Scripts/jquery-2.0.3.min.js">\x3C/script>')</script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script type="text/javascript">window.jQuery.ui || document.write('<script src="../../Scripts/jquery-ui-1.10.3.custom.min.js">\x3C/script>')</script>

	<script type="text/javascript" src="~/Scripts/app.js"></script>

	@RenderSection("scripts", required: false)
</body>
</html>
