@model DgonDotNet.Blog.Samples.DynamicCollections.Models.AddableThing

<tr>
	<td>
		@Html.HiddenFor(m => m.Number)
		@Html.DisplayFor(m => m.Number)
	</td>
	<td>
		@Html.HiddenFor(m => m.Text)
		@Html.DisplayFor(m => m.Text)
	</td>
	<td>
		@Html.DisplayFor(m => m.IsEven)
	</td>
	<td>&nbsp;</td>
</tr>
